.nav {
  max-height: 120px !important;
  min-height: 100px !important;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.07) !important;
}
.nav-list,
.nav-list-2 {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-list li,
.nav-list-2 li {
  margin-right: 2%;
  padding: 0 1rem 0 1rem;
  white-space: nowrap;
  color: white;
}
.logo {
  width: 150px;
  height: auto;
  mix-blend-mode: difference;
}
a:-webkit-any-link {
  text-decoration: none;
  color: white;
  font-family: var(--fontFamily);
  font-size: 1.099rem;
  text-transform: uppercase;
  font-weight: 520;
}
